body {
  font-family: sans-serif;
}

input {
  display: block;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

#sign-up {
  margin-top: 20px;
}

input {
  padding: 5px;
  border-radius: 5px;
}

select {
  padding: 5px;
  background-color: #ffffffc2;
}

button {
  padding: 10px;
  margin-left: -5px;
  border-radius: 10px;
  color: #ffffffff;
  background-color: hsla(224 77.7% 35.1% / 0.76);
}

button:hover {
  background-color: hsla(224 77.7% 25.1% / 0.76);
  cursor: pointer;
}

input[type="email"]:valid {
  border-color: #49974cb8;
  /* background-color: #49974cb8; */
}

input[type="email"]:invalid {
  color: #b62b2bc2;
  border-color: #b62b2bc2;
}
